.menu{
float: right;
list-style: none;
margin: 20px;
} 

.menu li{
display: inline-block;
margin: 10px 5px;     
}

.menu li a{
text-decoration: none;
color: #fff;
padding: 5px 10px;
font-family: sans-serif;
letter-spacing: 2px;
border: 1px solid #fff;
}

.menu li a:hover{
background: #fff;
transition: .4s;
color: #000;
}